# Run Tests in IntelliJ

Even though Udacity's TicTacToe repository contains all the tests required readily available,
it fails to mention in the course how to *actually run them*.

## Set Up Test





## Command Line

Run ```gradle test``` command in your project root.

![Configure IntelliJ Test Run](../../resources/01/intellij-configure-test-run.png "Configure IntelliJ Test Run")


Now you should be able to either run tests or the game.

![Run Menu with Tests in IntelliJ](../../resources/01/intellij-run-menu-with-tests.png "Run Menu with tests in IntelliJ")


Test results should be available after a test run:

![Test Results in IntelliJ](../../resources/01/intellij-test-results.png "Test Results in IntelliJ")


